!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SoccerApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %header.header
      .header_logos
        - if !current_page?(root_path)
          -# !current_page?(root_path)でホームにいなかったら戻るボタンの表示。※!でホームにいなかったらとなっている
          = link_to :back do
            -# link_to :back doでホームに戻る。railsのルール
            = image_tag 'back.svg', class: 'header_back'
      %p.header_pageTitle 
        = link_to 'BlogApp', root_path
      - if user_signed_in?
        -# if user_signed_in?はログイン機能で使用される。もしログインしていればという意味。railsのルール。
        .dropdown
          = image_tag current_user.avatar_image, class: 'header_avatar dropbtn'
          -# アイコンの画像の設定
          .dropdown-content
            = link_to 'プロフィール', profile_path
            = link_to 'お気に入り', favorites_path
            = link_to 'ログアウト', destroy_user_session_path, date: { method: 'delete' }
      - else
        -# elseのためログインしていなければという意味
        = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => "key"}= value
          -# 上の４文はarticle_controllerで保存ができた、保存できなかった際notice、Flashで文字の表示をしようとしたがそれを表示するための文
    = yield

    = render 'layouts/footer'
    -# renderで呼び込む。layoutsのfooter部分テンプレートを
